<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>wxAuth</display-name>
    <servlet>
        <servlet-name>wxCallBack</servlet-name>
        <servlet-class>com.wx.auth.servlet.CallBackServlet</servlet-class>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>jdbc:mysql://192.168.20.128:3306/auth</param-value>
        </init-param>
        <init-param>
            <param-name>driverName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>moana</param-value>
        </init-param>
        <init-param>
            <param-name>passWord</param-name>
            <param-value>moana</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>wxCallBack</servlet-name>
        <url-pattern>/wxCallBack</url-pattern>
    </servlet-mapping>
</web-app>